Collecting fips code for every state in USA

In [10]:
# Import libarys
import pandas as pd
import requests
from bs4 import BeautifulSoup

base_url = '/home/amit/DataScienceProject/PredictDroughts/'

In [11]:
response = requests.get(r'https://www.nrcs.usda.gov/wps/portal/nrcs/detail/?cid=nrcs143_013696')
soup = BeautifulSoup(response.content, "html.parser")
table = soup.find("table", attrs={"class": "data"})

In [12]:
stateName = []
postalCode = []
fips = []

for index, data in enumerate(table.find_all("td")):
    tr = data.text.replace("\r\n\t\t\t\t", "")
    if index % 3 == 0:
        stateName.append(tr)
    elif index % 3 == 1:
        postalCode.append(tr)
    else:
        fips.append(tr)

In [13]:
stateName.insert(8, 'District of Columbia')
postalCode.insert(8, 'DC')
fips.insert(8, 11)

In [14]:
data = {
    "state name": stateName,
    "postal code": postalCode,
    "fips": fips
}

In [15]:
df = pd.DataFrame(data)
df

                  state name postal code fips
0                    Alabama          AL   01
1                     Alaska          AK   02
2                    Arizona          AZ   04
3                   Arkansas          AR   05
4                 California          CA   06
5                   Colorado          CO   08
6                Connecticut          CT   09
7                   Delaware          DE   10
8       District of Columbia          DC   11
9                    Florida          FL   12
10                   Georgia          GA   13
11                    Hawaii          HI   15
12                     Idaho          ID   16
13                  Illinois          IL   17
14                   Indiana          IN   18
15                      Iowa          IA   19
16                    Kansas          KS   20
17                  Kentucky          KY   21
18                 Louisiana          LA   22
19                     Maine          ME   23
20                  Maryland          MD   24
21             Massachusetts          MA   25
22                  Michigan          MI   26
23                 Minnesota          MN   27
24               Mississippi          MS   28
25                  Missouri          MO   29
26                   Montana          MT   30
27                  Nebraska          NE   31
28                    Nevada          NV   32
29             New Hampshire          NH   33
30                New Jersey          NJ   34
31                New Mexico          NM   35
32                  New York          NY   36
33            North Carolina          NC   37
34              North Dakota          ND   38
35                      Ohio          OH   39
36                  Oklahoma          OK   40
37                    Oregon          OR   41
38              Pennsylvania          PA   42
39              Rhode Island          RI   44
40            South Carolina          SC   45
41              South Dakota          SD   46
42                 Tennessee          TN   47
43                     Texas          TX   48
44                      Utah          UT   49
45                   Vermont          VT   50
46                  Virginia          VA   51
47                Washington          WA   53
48             West Virginia          WV   54
49                 Wisconsin          WI   55
50                   Wyoming          WY   56
51            American Samoa          AS   60
52                      Guam          GU   66
53  Northern Mariana Islands          MP   69
54               Puerto Rico          PR   72
55            Virgin Islands          VI   78

In [16]:
# Cleaning data that we dont need
df.drop(df.index[[51, 52, 53, 55]], inplace=True)
df.sort_values('state name', ascending=True, inplace=True)
df.reset_index(drop=True, inplace=True)
df

              state name postal code fips
0                Alabama          AL   01
1                 Alaska          AK   02
2                Arizona          AZ   04
3               Arkansas          AR   05
4             California          CA   06
5               Colorado          CO   08
6            Connecticut          CT   09
7               Delaware          DE   10
8   District of Columbia          DC   11
9                Florida          FL   12
10               Georgia          GA   13
11                Hawaii          HI   15
12                 Idaho          ID   16
13              Illinois          IL   17
14               Indiana          IN   18
15                  Iowa          IA   19
16                Kansas          KS   20
17              Kentucky          KY   21
18             Louisiana          LA   22
19                 Maine          ME   23
20              Maryland          MD   24
21         Massachusetts          MA   25
22              Michigan          MI   26
23             Minnesota          MN   27
24           Mississippi          MS   28
25              Missouri          MO   29
26               Montana          MT   30
27              Nebraska          NE   31
28                Nevada          NV   32
29         New Hampshire          NH   33
30            New Jersey          NJ   34
31            New Mexico          NM   35
32              New York          NY   36
33        North Carolina          NC   37
34          North Dakota          ND   38
35                  Ohio          OH   39
36              Oklahoma          OK   40
37                Oregon          OR   41
38          Pennsylvania          PA   42
39           Puerto Rico          PR   72
40          Rhode Island          RI   44
41        South Carolina          SC   45
42          South Dakota          SD   46
43             Tennessee          TN   47
44                 Texas          TX   48
45                  Utah          UT   49
46               Vermont          VT   50
47              Virginia          VA   51
48            Washington          WA   53
49         West Virginia          WV   54
50             Wisconsin          WI   55
51               Wyoming          WY   56

In [17]:
df.to_csv(base_url + 'files/fips.csv')